*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h3{
    background-color: brown;
    color: antiquewhite;
    border: solid white 3px;
    border-radius: 20px;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
    margin: 5rem 5rem 0;
}

img{
    height: 15rem;
    width: 23rem;
    border-radius: 3rem;
}